/* Custom CSS */

#awwwards {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;

  width: 90px;
  height: 135px;

  text-indent: -666em;

  background-image: url(../img/root/awwwards_honorable_white.png);
  background-repeat: no-repeat;
  background-size: 90px 135px;

  overflow: hidden;
}

#wpselected {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  width: 90px;
  height: 90px;

  text-indent: -666em;

  background-image: url(../img/root/wpselected-badge-left.png);
  background-repeat: no-repeat;
  background-size: 90px 90px;

  overflow: hidden;
}

.ptf-custom--9135 .typed-cursor {
  color: #ee3364;
}

.ptf-custom--0531 {
  position: absolute;
  bottom: 15%;
  left: 130px;

  color: #0b0b0b;
  font-size: 35px;
}

.ptf-custom--9503::after {
  content: "";

  position: absolute;
  top: 50%;
  left: calc(100% + 30px);

  width: 0;
  max-width: 60px;
  height: 1px;

  background-color: #1f0e49;

  transition: width 0.5s 1s ease-in-out;
}

.ptf-is-page-loaded .ptf-custom--9503::after {
  width: 100%;
}

.ptf-custom--5832 {
  position: relative;
  z-index: 1;

  margin-right: 50px;
}

.ptf-custom--5832::after {
  content: "";

  position: absolute;
  top: -50px;
  right: -50px;
  z-index: -1;

  width: 100%;
  height: 100%;

  border: 10px solid #00bec5;
}

.ptf-custom--5832 {
  position: relative;
  z-index: 1;

  margin-right: 50px;
}

.ptf-custom--5832::after {
  content: "";

  position: absolute;
  top: -50px;
  right: -50px;
  z-index: -1;

  width: 100%;
  height: 100%;

  border: 10px solid #00bec5;
}

.ptf-custom--3103 .ptf-services-box__link {
  background-color: rgba(0, 0, 0, 0.25);
}

.ptf-custom--3103 .ptf-highlight {
  background: linear-gradient(to top, transparent 5%, rgba(0, 0, 0, 0.25) 5%, rgba(0, 0, 0, 0.25) 37%, transparent 37%);
}

.ptf-custom--4111 .ptf-swiper-pagination--style-1 span {
  background-color: #fff;
}

.ptf-custom--4111 .ptf-swiper-button-prev--style-2,
.ptf-custom--4111 .ptf-swiper-button-next--style-2 {
  color: #fff;
}

.ptf-custom--6632 {
  margin-top: -225px;
}

.ptf-custom--9917 .ptf-social-icons a:not(:hover) {
  color: #fff;
}

.ptf-custom--8681 .ptf-countdown h5,
.ptf-custom--8681 .ptf-countdown strong {
  color: #fff;
}

.ptf-custom--9511 .ptf-swiper-pagination--style-1 span {
  background-color: #fff;
}

.ptf-is--homepage-05 .ptf-header--default .ptf-navbar,
.ptf-is--homepage-05 .ptf-header--default .ptf-navbar.ptf-navbar--solid {
  background-color: #191919;
}

.ptf-is--homepage-11 .ptf-navbar {
  padding: 0 35px;
}

.ptf-is--homepage-11 .ptf-navbar .container {
  width: 100%;
}

/* min-width 768px */
@media (min-width: 768px) {
  .ptf-custom--5136 {
    padding-left: 70px;
  }
  .ptf-custom--8620 {
    padding-right: 70px !important;
  }
  .ptf-custom--5317 {
    padding: 0 30px !important;
  }
  .ptf-custom--5171 {
    padding-right: 70px;
  }
  .ptf-custom--7205 {
    margin-top: -100px;
  }
  .ptf-custom--8511 {
    padding-right: 85px;
  }
  .ptf-custom--6525 {
    position: relative;
    z-index: 2;
  }
}

/* max-width 767px */
@media (max-width: 767px) {
  #awwwards,
  #wpselected {
    display: none;
  }
  .ptf-custom--9135 h2 {
    font-size: 28px;
  }
  .ptf-custom--1631 {
    font-size: 38px;
  }
}

/* max-width 991px */
@media (max-width: 991px) {
  .ptf-custom--9182 {
    font-size: 48px;
    line-height: 60px;
  }
  .ptf-custom--9182 {
    font-size: 48px;
    line-height: 60px;
  }
}

/* max-width 575px */
@media (max-width: 575px) {
  .ptf-custom-9182 {
    font-size: 38px;
    line-height: 50px;
  }
  .ptf-custom-9182 {
    font-size: 38px;
    line-height: 50px;
  }
  .ptf-custom--0531 {
    bottom: 5%;
  }
}

/* ===========================================
================= New Styles =================
=========================================== */
/* ===== Header Styles ===== */
@media only screen and (min-width: 1200px) {
  .desktop-menu {
    display: none;
  }
}
.svg-logo {
  fill: #fff;
  width: 190px;
  height: 100px;
}
.ptf-navbar.ptf-navbar--solid .svg-logo {
  fill: #1031fb;
}
.ptf-header--opaque .svg-logo {
  fill: #1031fb;
}
.ptf-navbar .ptf-navbar-inner {
  min-height: 100px;
}
.ptf-nav--default {
  min-height: 100px;
}
.ptf-work--style-1 .ptf-work__title a:hover {
  color: var(--ptf-accent-1);
  text-decoration: none;
}
.ptf-pricing-table:hover .badge {
  background-color: #fff;
  color: var(--ptf-accent-1);
}
.ptf-pricing-table .ptf-btn.ptf-btn--primary:hover {
  color: var(--ptf-accent-1);
  background-color: #ffffff;
}
.c-white h1.large-heading {
  color: #fff;
}
.c-white .ptf-approach-box {
  border-color: #fff;
}
.c-white .ptf-approach-box__subtitle {
  color: #fff;
}
.c-white p {
  color: #fff;
}
.ptf-service-sec .ptf-service-box__title {
  font-size: 2.4rem;
  text-transform: none;
  line-height: 1;
}
/* === Banner Styles === */
.ptf-showcase-3 .ptf-showcase-slide {
  padding: 11rem 0 8rem 0;
}
.ptf-footer--style-3 .ptf-footer__top .ptf-widget-links {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}

/* === Privacy Policy Page === */
.ptf-is--policy .ptf-page-policy h3 {
  margin-bottom: 0.4rem;
}
.ptf-is--policy .ptf-page-policy p {
  margin-bottom: 0.7rem;
}
.ptf-is--policy .ptf-page-policy p:last-of-type {
  margin-bottom: 0;
}

/* ==== Mobile New Styles ==== */
@media only screen and (max-width: 767px) {
  .ptf-navbar .ptf-navbar-inner {
    min-height: 60px;
  }
  .svg-logo {
    width: 140px;
    height: 30px;
  }
  /* Banner Slider Styles */
  .ptf-showcase-slide h1 {
    font-size: 3.125rem;
    line-height: 1.15 !important;
  }
  .ptf-showcase-3 .ptf-showcase-slide {
    padding: 6rem 0;
  }
  .ptf-showcase-slide p {
    font-size: 1.3rem;
  }
  .ptf-showcase-slide .justify-content-center .ptf-btn--secondary {
    margin-left: 1rem !important;
  }
  /* Home Page Titles */
  .large-heading {
    font-size: 3.2rem;
    line-height: 1.15;
  }
  /* Services Styles */
  .ptf-service-sec .ptf-service-box__title {
    font-size: 2rem;
  }
  /* Testimmonials */
  .ptf-testimonial-title {
    font-size: 3.1rem;
  }
  .ptf-twitter-review {
    padding-top: 2.25rem;
  }
  .ptf-twitter-review__content {
    margin-top: 2rem;
  }
  /* Footer */
  .ptf-footer--style-3 .ptf-footer__top .ptf-widget-contacts ul li {
    grid-template-columns: 100px 1fr;
  }
  .ptf-footer--style-3 .ptf-footer__top .ptf-widget-contacts ul li br {
    display: none;
  }
  .ptf-widget-links ul li + li {
    margin-top: 1rem;
  }
  .ptf-footer--style-3 .ptf-footer__bottom {
    padding-bottom: 0.25rem;
    padding-top: 2.2rem;
  }
  .ptf-footer--style-3 .ptf-footer__bottom [class^="col"] {
    margin-bottom: 1.7rem;
  }
  .ptf-footer__bottom .col-12 {
    text-align: center !important;
  }

  /* === About Us Page === */
  .fz-18-sm {
    font-size: 1.2rem;
  }
  .ptf-service-box {
    padding: 1.75rem;
  }
  .ptf-service-box__title br {
    display: none;
  }
  /* Call To Action Styles */
  .coa-sec .fz-36.has-accent-1 {
    font-size: 2rem;
    line-height: 1.2;
  }
  .coa-sec .fz-120 {
    font-size: 3.95rem;
  }
  .coa-sec .fz-80 {
    font-size: 4rem;
  }
  /* Blog Page Styles */
  .ptf-news-slider .ptf-slider-controls {
    display: block;
    right: 1.5rem;
    bottom: 1.5rem;
  }
  .ptf-news-slide__content {
    padding: 0 1.5rem 2.5rem;
  }
  .ptf-news-slide .ptf-news-slide__title {
    font-size: 2rem;
    line-height: 1.23;
  }
  .ptf-post__content .ptf-post__title {
    font-size: 2rem;
  }
  /* Contact Page Styles */
  .ptf-page--contact .large-heading {
    font-size: 2.9rem;
    line-height: 1.22;
  }
  label {
    font-size: 1.3rem;
  }
  input[type="date"].is-large,
  input[type="email"].is-large,
  input[type="file"].is-large,
  input[type="number"].is-large,
  input[type="password"].is-large,
  input[type="search"].is-large,
  input[type="tel"].is-large,
  input[type="text"].is-large,
  input[type="url"].is-large,
  select.is-large,
  textarea.is-large {
    font-size: 2rem;
  }
  /* Single Services Page Styles */
  .ptf-page--service-detail .large-heading {
    line-height: 1.22;
  }
  .ptf-page--service-detail .ptf-service_title {
    font-size: 2.4rem;
    line-height: 1.12;
  }
  .ptf-page--service-detail h3 {
    font-size: 2rem;
  }
  .mb--spacing {
    margin-top: 2.1875rem !important;
  }
  .ptf-sidebar--right {
    margin-top: 2.7rem;
  }
  /* FAQ Page Styles */
  .ptf-faq {
    grid-gap: 0.75rem;
    padding-bottom: 3.4rem;
  }
  .mb-fz {
    font-size: 1.3rem;
    line-height: 1.15;
  }
  /* Single Portfolio Page Styles */
  .ptf-page--single-work-1 .large-heading.ptf-filled-link {
    font-size: 2.5rem;
    line-height: 1.2;
  }
  /* Portfolio List Page Styles */
  .ptf-page--portfolio-grid .grid-item:not(:last-of-type) {
    padding-bottom: 4rem;
  }
  .ptf-work--style-1 .ptf-work__meta,
  .ptf-work--style-2 .ptf-work__meta,
  .ptf-work--style-3 .ptf-work__meta {
    padding-top: 1.5rem;
  }
  /* Pricing Page Styles */
  .ptf-page--pricing .ptf-service_title {
    font-size: 2rem;
    line-height: 1.2;
  }
  /* Privacy Policy Page Styles */
  .ptf-page-policy h3 {
    font-size: 1.8rem;
  }
  /* Single Blog Page Styles */
  .ptf-single-post__title {
    font-size: 2.2rem;
  }
  .ptf-single-post__content h3 {
    font-size: 1.8rem;
  }
  .ptf-single-post__content h4 {
    font-size: 1.58rem;
  }
  .ptf-related-posts {
    padding: 3.5rem 0 0;
  }
  .ptf-page-comments {
    margin-top: 3rem;
    padding: 0;
  }
  .ptf-single-post__wrapper .ptf-post-navigation--style-1 {
    margin-top: 0;
  }
  .ptf-single-post__wrapper .ptf-post-navigation--style-1 .h1 {
    font-size: 3rem;
  }
}

/* IPad Styles */
@media only screen and (max-width: 992px) {
  /* Main Container Padding */
  .container,
  .container-xxl {
    padding: 0 1rem;
  }
  .row {
    margin-left: -1rem;
    margin-right: -1rem;
  }
  .row > * {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .ptf-navbar .container-xxl {
    padding: 0 1rem;
  }
  .ptf-process-item::before {
    left: 1rem;
  }
  .ptf-is--home-agency .ptf-custom--3993::after {
    top: -1px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .ptf-social-icon--style-1 {
    font-size: 1.15rem;
  }
  .ptf-social-icon--style-1 + .ptf-social-icon--style-1 {
    margin-left: 1.1625rem;
  }
  .ptf-footer__bottom .svg-logo {
    width: 163px;
    height: 40px;
  }
  .ptf-page--portfolio-grid .ptf-isotope-grid {
    --ptf-gutter-x: 40px !important;
  }
  .ptf-page--portfolio-grid .ptf-isotope-grid .grid-item {
    --ptf-gutter-x: 40px !important;
  }
  .mb--spacing {
    margin-top: 3.75rem;
  }
  .ptf-page--service-detail .mb--spacing {
    margin-top: auto;
  }
  .ptf-nav--offcanvas .sf-menu ul.sub-menu a {
    font-size: 1.2375rem;
    font-weight: 600;
    line-height: 2.3;
  }
  .ptf-news-slider .ptf-slider-controls {
    right: 1.75rem;
    bottom: 1.75rem;
  }
}
